:root{
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #22f007;
  --secondary-color-dark: #036303fd;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

.registration-container {
  width: 500px;
  margin:  auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container::before {
  content: "NP         FITNESS";
  position: absolute;
  bottom: 250px;
  right: 256px;
  font-size: 160px;
  font-weight: 700;
  line-height: 50px;
  color: var(--white);
  opacity: 0.08;
  z-index: -1;
}

.registration-container h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 8px;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input, .input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--secondary-color-dark);
  border-radius: 5px;
}

.button-group {
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--white);
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color-dark);
}

